

feature-selection:
  - filter_base:
      - correlation:
          - criteria: ['higher than mean']

  - wrapper_base:
      - p_value:
          - p_value_threshold: [ 0.05 ]

  - embedded:
      - lasso:
          - alpha: [ 0.05 ]